.hero {
  padding-top: 120px;
  background-image: url("/images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include breakpoint(medium) {
    background-image: url("/images/bg-header-mobile.png");
    padding-top: 130px;
  }

  &__logo {
    margin-bottom: 60px;
  }
  h1 {
    @include breakpoint(large) {
      br {
        display: none;
      }
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(medium) {
      display: block;
    }

    button:first-child {
      margin-bottom: 20px;

      @include breakpoint(medium) {
        margin-bottom: 0px;
        margin-right: 16px;
      }
    }
  }
}
